/* * {
    border: 1px solid red;
} */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    background-color: #E0E8FF;
    background-image: url(img/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 450px;
    background-color: #FFF;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 20px 30px rgba(102, 129, 204, 0.25);
}

.illustration img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px 20px 0 0;
    margin: 0;
}

.order {
    padding: 20px 48px 48px;
}
.order h1 {
    font-size: 28px;
    font-weight: 900;
    color: #1F2F56;
}
.order p {
    font-size: 16px;
    font-weight: 500;
    color: #7280A7;
    line-height: 1.6em;
}
.order button {
    width: 100%;
    height: 50px;
    border-radius: 12px;
    background-color: #382AE1;
    color: #FFF;
    font-weight: 900;
    font-size: 15px;
    border: none;
    margin: 30px 0;
    box-shadow: 0 18px 18px rgba(56, 42, 225, 0.2);
    transition: background-color .2s;
}
    .order button:hover {
        background-color: #766cf1;
    }
.order a.cancel {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #7280A7;
}
    .order a.cancel:hover {
        color: #1F2F56;
    }

.plan {
    display: flex;
    align-items: center;
    background-color: rgba(223, 230, 251, 0.25);
    padding: 10px 24px;
    border-radius: 12px;
}
.plan img {
    width: 48px;
    height: 48px;
    margin-right: 20px;
}
.plan strong {
    color: #1F2F56;
    font-weight: 900;
}
.plan a {
    flex-grow: 1;
    text-align: right;
    color: #382AE1;
    font-size: 14px;
    font-weight: 700;
}
    .plan a:hover {
        color: #766cf1;
        text-decoration: none;
    }


/* Responsive */

@media screen and (max-width: 414px) {

    body {
        background-image: url(img/pattern-background-mobile.svg);
    }

    section {
        padding: 0 24px;
    }

    .order {
        padding: 0 24px 36px;
    }
    .order p,
    .order button,
    .order a.cancel  {
        font-size: 17px;
    }

    .plan {
        padding: 0 18px;
    }
    .plan a {
        font-size: 15px;
    }


}